@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  /* 스크롤바 표시 */
  ::-webkit-scrollbar {
    display: block;
    width: 8px;
    height: 8px;
  }

  /* 스크롤바 트랙 (배경) */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* 연한 배경 */
  }

  /* 스크롤바 핸들 (움직이는 부분) */
  ::-webkit-scrollbar-thumb {
    background: #999; /* 기본 색상 */
    border-radius: 4px;
  }

  /* 스크롤바 핸들 (호버 시) */
  ::-webkit-scrollbar-thumb:hover {
    background: #888; /* 호버 시 색상 변경 */
  }
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  user-select: none;
}
